.title {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.type {
  display: flex;
  justify-content: center;
}

.status {
  display: flex;
  justify-content: center;
}

.link {
  color: blue;
}

.link:active {
  color: red;
}

.link:visited {
  color: black;
}

.list {
  border: 1px solid black;
}

.subList {
  margin: 10px;
}
